* {
  padding: 0;
  margin: 0;
}
body {
  background-color: --first-color;
}
.color-container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0.75rem;
  background-color:  --first-color;
}
svg {
  fill: #ffffff;
}
.options {
  padding: 1em 0;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: --first-color;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5em;
}
label {
  margin-right: 0.5em;
}
#color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
}
#color-input::-webkit-color-swatch {
  border: 3px solid #000000;
  border-radius: 5px;
}
#color-input::-moz-color-swatch {
  border-radius: 50%;
  border: 3px solid #000000;
}
.color-options,
.size {
  display: flex;
  align-items: center;
}
